/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4285F4;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #DB4437;
  }