html {
    background-color:#f7f7f8;
    padding:0;
    font-family: 'OpenSans';
}

body {
    margin:0;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#header {
    position:sticky;
    width:100vw;
    background-color:#ffffff;
    display:flex;
    top:0;
    box-shadow:#fff 0 0 5px 5px;
    z-index: 900;
}

#header .logo {
    margin-left:15vw;
    display:inline-grid;
    width:33%;
    grid-template-columns: 100px 100px;
}

#header .logo h2 {
    width:60%;
    font-style:italic;
    font-size: xx-large;
    line-height:0.8;
}

nav a {
    text-decoration: none;
    color:unset;
}

nav {
    margin-right:15vw;
    width:67%;
    display:inline-flex;
    place-items:center;
    justify-content: end;
}

.nav-block {
    width:100px;
    height:50px;
    border:1px solid rgb(139, 139, 139);
    display:inline-grid;
    text-align: center;
    place-items: center;
}

nav span:hover {
    background-color: rgb(139, 139, 139);
}

nav #first {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

nav #last {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

section {
    width:70vw;
    margin: 0 auto 0 auto;
}

#hero {
    margin-top:100px;
    display:grid;
    grid-template-columns: auto auto;
    height: calc(100vh - 100px) !important;
}

#hero-content {
    text-align: center;
    display:block;
    height:80%;
    margin:auto 0;
    font-size:x-large;
}

#hero-buttons {
    display:inline-flex;
    column-gap:20px;
}

#hero-buttons a {
    color:unset;
    text-decoration: none;
}

#hero-buttons a .button span {
    font-size: 36px !important;
}

#hero-buttons p {
    margin:0;
}

#hero-buttons .button {
    width:200px;
    height:75px;
    border-radius:20px;
    display:inline-grid;
    place-items:center;
    background-color:#bea378;
    grid-template-columns: auto auto;
    padding: 0 10px;
}

.button:hover {
    background-color: #8b7757 !important;
}

section {
    height: 50vh;
}

.sec-content {
    display:grid;
    grid-template-columns: 30% 70%;
    place-items:center;
}

.sec-content div {
    display:inline-grid;
    place-items:center;
}

.sec-content p {
    font-size:large;
}

.sec-content div span {
    width: 403.2px;
    text-align: center;
    font-size: 200px;
    z-index: 0;
    position: absolute;
    color: rgba(0,0,0,0.3);
}

.sec-content div h2 {
    margin:0;
    font-size:xxx-large;
}

#team-grid {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    width:100%;
    line-height:1px;
}

.member img {
    border-radius:10px;
}

#donate-links {
    width:50%;
    grid-column: 2;
    display:grid;
    grid-template-columns: 50% 50%;
    align-self:baseline;
}

.donate {
    grid-area: 1 / 1 / 3 / 2;
}

#donate p {
    align-self:end;
}

#donate-links a {
    text-decoration: none;
    color:unset;
}

#donate-links .button {
    width:150px;
    height:50px;
    border-radius:20px;
    display:inline-grid;
    place-items:center;
    background-color:#bea378;
}