/*************************/
/*                       */
/*        Global         */
/*                       */
/*************************/

.lightbox-container {
    top:200% !important;
    bottom:inherit !important;
    padding-left:0 !important;
    padding-right:0 !important;
    padding-top:10vh !important;
    padding-bottom:10vh !important;
}

.lightbox-image {
    max-height:80vh !important;
}
.lightbox-btn-previous{
    left:-1em !important;
}
.lightbox-btn-next{
    right:-1em !important;
}

code {
    height:100% !important;
    text-align: left !important;
}

.back #tg-link {
    text-align:center;
    display:block;
    margin:auto;
    color: inherit;
}

.back #copyright {
    width:100%;
    display:block;
    margin:auto;
}

.menu {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    background:rgba(0,0,0,0.2);
    color:#000;
}

.menu a{
    display:flex;
    width:150px;
    height:100%;
    align-items: center;
    justify-content: center;
    transition:all 0.1s;
    color:#000;
}

.menu a:hover {
    background:rgba(0,0,0,0.4);
    color:white;
}

.menu span {
    width:150px;
}

.viewing-page-2 .menu a{
    color:white;
}

.menu a.active {
    background-color:blue;
}

.btn .fa-angle-right {
    text-align: right;
}

/*************************/
/*                       */
/*        Page 1         */
/*                       */
/*************************/

.page1 .page_container {
    text-align:center !important;
}

.page1 .page_container h1,h2,p {
    width:100% !important;
}
.page1 .page_container h1{
    background-size:contain;
    float:none !important;
    text-align: center !important;
}
.page1 .page_container h2{
    font-size:larger !important;
}
.page1 .page_container .btns {
    float:none !important;
}

@media only screen and (max-width:1368px) {
    .page1 .page_container h2, .credit {
        background-color:rgba(255,255,255,0.6) !important;
        box-shadow: 0 0 20px 20px rgba(255,255,255,0.6);
    }
    .credit {
        overflow:hidden;
    }
    .back {
        display:none !important;
    }
}

/*************************/
/*                       */
/*        Page 2         */
/*                       */
/*************************/

.page2 .page_container {
    margin-top:250px !important;
}

/*************************/
/*                       */
/*        Page 3         */
/*                       */
/*************************/

.page3 .page_container {
    top:15% !important;
}

.page3 h1,h2 {
    text-align:center !important;
}

.page3 .btns {
    float:none !important;
}

.page3 .page_container {
    max-width:1600px !important;
    right: 0 !important;
    width:auto !important;
}

.page3 .page_container .image-gallery .gallery-item {
    display:inline;
}
.page3 .page_container .image-gallery .gallery-item a img {
    height:280px;
    border-radius:5px;
}

@media only screen and (max-width:1368px) {
    .page3 .page_container .image-gallery .gallery-item a img {
        height:120px;
    }
}

/*************************/
/*                       */
/*        Page 4         */
/*                       */
/*************************/

.page4 .btns {
    float:none !important;
}

.main section.page4 .page_container {
    width:100% !important;
    margin-top:100px !important;
}

.page4 .page_container {
    max-width:780px !important;
}

.page4 h1{
    text-align: center !important;
}

.page4 .team {
    width:100%;
    overflow:auto;
}

.page4 .member {
    float:left;
    height:100%;
    width:156px;
}

.page4 .member img {
    border-radius:999px;
}

.page4 .member span a {
    font-size:xx-large !important;
    color: black;
    margin-left:5px;
    margin-right:5px;
}

.page4 .member h2 {
    float:none !important;
}

@media only screen and (max-width:1368px) {
    .page4 .page_container {
        padding:0 !important;
        width:100% !important;
    }
    .page4 h1 {
        color:#FFF !important;
    }
    .page4 .member {
        width:156px;
        background: rgba(255,255,255,0.6);
    }
    .page4 .member img {
        width:60px;
    }
}

@media only screen and (max-width:500px) {
    .page4 .team {
        width:332px;
        margin:auto !important;
        overflow:hidden;
    }

    .page4 .member {
        margin: 10px 5px auto !important;
        padding: 10px 0;
    }

    .page4 .mbr-end {
        float:none;
        overflow:hidden;
        margin: auto !important;
        position: relative;
        top:10px;
    }
}

/*************************/
/*                       */
/*        Page 5         */
/*                       */
/*************************/

.page5 {
    background: url('../img/mi-9-transparent.png') no-repeat 0% 100%;
    background-size: 40%;
}

.page5 .page_container {
    top:15% !important;
}

.page5 h1,h2 {
    text-align:center !important;
}

.page5 h1 {
    padding: 0 !important;
    color: #000;
}

.page5 .btns {
    float:none !important;
}

.page5 .btn {
    width:300px !important;
}

zero-md {
    background-color:rgba(255,255,255,0.6);
    box-shadow:0 0 15px 15px rgba(255,255,255,0.6);
    border-radius: 50px;
}

@media only screen and (max-width:1368px) {
    zero-md {
        border-radius:0;
    }
}

/*************************/
/*                       */
/*        Page 6         */
/*                       */
/*************************/

.page6 {
    background: url('../img/tg-example.png') no-repeat 100% 100%;
    background-size: 30%;
    background-color: rgb(156, 192, 231);
}

.page6 .page_container {
    top:15% !important;
    left:-250px;
    width:100%;
}

.page6 h1,h2 {
    text-align:center !important;
}

.page6 h1 {
    padding: 100px 50px;
    color: #000;
}

.page6 h2 {
    float:left !important;
}

.page6 .btns {
    float:none !important;
}

.page6 .btn {
    width:250px !important;
}

@media only screen and (max-width:1368px) {
    .page6 .page_container {
        left:0 !important;
        margin:0 !important;
    }
}

/*************************/
/*                       */
/*        Page 7         */
/*                       */
/*************************/

.page7 h1,h2 {
    text-align:center !important;
}

.page7 h1 {
    padding: 50px;
    color: #000;
}

.page7 .btns {
    display:inline;
    float:none !important;
    width:100% !important;
    margin:10px 0px;
}

@media only screen and (max-width:500px) {
    .page7 .btns a {
        margin:10px !important;
    }
}